<div *ngFor = "let item of tecnSvc.solicitud">
    <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title">ORDEN #{{item.ID}} {{item.DESCRIP}}</h5>
          <p class="card-text">Cliente: {{item.NOMBRE}}<br> Largo: {{item.LARGO}} <br> Ancho: {{item.ANCHO}}</p>
          <a href="#" class="btn btn-success" style="float:right; " (click) = "updateState('APROBADO', item.ID )">Aprobar</a> 
          <a href="#" class="btn btn-danger" (click) = "updateState('ANULADO', item.ID )" style="float:right; margin-right: 50px;">Rechazar</a>
        </div>
      </div>
</div>